<h3><i class="fas fa-book-reader"></i> Dashboard</h3>
<div class="section">
    <p class="lead">You have succesfully been authenticated</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/logout" class="btn red darken-1">
    Logout
    </a>
</div>